@mixin white-link() {
  color: $white-text;
  text-decoration: none;
}
@mixin red-link() {
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
  color: #d22856;
}
@mixin red-label() {
  color: $red-text;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
@mixin gray-label() {
  color: $gray-text;
  font-size: 18px;
  line-height: 30px;
}
@mixin input-text() {
  font-size: 18px;
  line-height: 30px;
}
@mixin green-btn() {
  background-color: #2aab6d;
  border: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $white-text;
}
@mixin dark-btn() {
  color: $white-text;
  text-decoration: none;
  border: 3px solid #ffffff;
  border-radius: 49px;
  padding-top: 15px;
  padding-bottom: 17px;
  padding-left: 36px;
  padding-right: 36px;
  &:hover {
    background-color: #ffffff;
    color: $red-text;
  }
  &:active {
    color: $red-text--active;
  }
  @media #{$tablet-widths} {
    padding-left: 45px;
    padding-right: 45px;
  }
  @media #{$desktop-widths} {
    font-size: 21px;
    padding-left: 28px;
    padding-right: 28px;
  }
}
@mixin content-center() {
  margin-left: auto;
  margin-right: auto;
}
@mixin paddings() {
  @media #{$mobile-widths-only} {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media #{$tablet-widths} {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media #{$desktop-widths} {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@mixin margins-negative() {
  @media #{$mobile-widths-only} {
    margin-left: -20px;
    margin-right: -20px;
  }
  @media #{$tablet-widths} {
    margin-left: -40px;
    margin-right: -40px;
  }
  @media #{$desktop-widths} {
    margin-left: -130px;
    margin-right: -130px;
  }
}
