$main-bg: #283645;
$gray-bg: #f2f2f2;
$white-bg: #ffffff;
$image-mobile-bg: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");

$main-font: "Open Sans", "Arial", sans-serif;
$white-text: #ffffff;
$gray-text: #283645;
$red-text: #d22856;
$def-text-size: 14px;
$def-line-height: 24px;
