.form-field {
  box-sizing: border-box;
  @media #{$mobile-widths-only} {
    margin-top: -70px;
  }
  @media #{$tablet-widths} {
    margin-top: -110px;
  }
}

.form-field__form {
  display: flex;
  @include content-center;
  box-sizing: border-box;
  background-color: $white-bg;
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: $gray-text;
    @include input-text;
    font-family: $main-font;
  }
  @media #{$mobile-widths-only} {
    flex-direction: column;
    padding-bottom: 15px;
  }
  @media #{$tablet-widths} {
    flex-direction: column;
  }
  @media #{$desktop-widths} {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: $desktop-width;
  }
}
.form-field__title {
  text-align: center;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: $gray-bg;
  width: 100%;
  background-repeat: no-repeat;
  @media #{$mobile-widths-only} {
    padding-top: 75px;
    font-size: 24px;
    line-height: 29px;
    min-height: 236px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-size: 700px auto;
    background-position: center 0;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }
  @media #{$tablet-widths} {
    padding-top: 138px;
    font-size: 50px;
    line-height: 60px;
    min-height: 440px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;
    background-position: center 0;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }
  @media #{$desktop-widths} {
    min-height: 394px;
    padding-top: 131px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;
    background-position: center 0;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@1x.jpg");
    }
  }
}
.form-field__title-header {
  @include content-center;
  font-weight: 300;
  color: $white-text;
  @media #{$mobile-widths-only} {
    width: $mobile-width;
    font-size: 24px;
    line-height: 29px;
  }
  @media #{$tablet-widths} {
    font-size: 50px;
    line-height: 60px;
    width: $tablet-width;
  }
  @media #{$desktop-widths} {
    width: $desktop-width;
  }
}
.form-field__ur-history {
  margin-top: 0px;
  text-align: center;
  box-sizing: border-box;
  @include content-center;
  @media #{$mobile-widths-only} {
    font-size: 14px;
    line-height: 30px;
    margin-top: 45px;
    margin-bottom: 28px;
    width: $mobile-width;
  }
  @media #{$tablet-widths} {
    font-size: 18px;
    line-height: 30px;
    margin-top: 92px;
    margin-bottom: 66px;
    padding-left: 30px;
    padding-right: 30px;
    width: $tablet-width;
  }
  @media #{$desktop-widths} {
    padding-left: 90px;
    padding-right: 90px;
    width: $desktop-width;
  }
}
.form-field__container {
  display: flex;
  align-items: baseline;
}
.form-field__input {
  flex-grow: 1;
  background-color: $white-bg;
  border: 2px solid #e5e5e5;
  &:focus {
    outline: none;
  }
}
.form-field__input[type="radio"],
.form-field__input[type="checkbox"] {
  display: none;
}
.form-field__pseudocheck {
  position: relative;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 30px;
  &:hover {
    border-color: #283645;
  }
  &:active {
    border-color: $red-text;
    &::after {
      position: absolute;
      content: "";
      left: 10px;
      top: 17px;
      width: 21px;
      height: 2px;
      background-color: $red-text;
      transform: rotate(-45deg);
    }
    &::before {
      position: absolute;
      content: "";
      left: 5px;
      top: 21px;
      width: 10px;
      height: 2px;
      background-color: $red-text;
      transform: rotate(45deg);
    }
  }
  @media #{$tablet-widths} {
    margin-right: 20px;
  }
}
.form-field__pseudoradio {
  flex-shrink: 0;
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  margin-right: 30px;
  &:hover {
    border-color: #283645;
  }
  &:active {
    border-color: $red-text;
    &::after {
      position: absolute;
      content: "";
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $red-text;
    }
  }
  @media #{$tablet-widths} {
    margin-right: 20px;
  }
}
.form-field__input--text {
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 19px;
  margin-bottom: 18px;
  @media #{$tablet-widths} {
    margin-bottom: 54px;
  }
}
.form-field__input--fname {
  @media #{$mobile-widths-only} {
    margin-bottom: 2px;
  }
  @media #{$tablet-widths} {
    margin-bottom: 10px;
  }
  @media #{$desktop-widths} {
    margin-bottom: 0px;
  }
}
.form-field__label {
  padding-left: 20px;
  padding-bottom: 6px;
  align-items: center;
  @media #{$tablet-widths} {
    padding-left: 0px;
  }
}
.form-field__fullname {
  box-sizing: border-box;
  background-color: $white-bg;
  label {
    @include red-label;
  }
  @media #{$mobile-widths-only} {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
    width: $mobile-width;
    @include content-center;
  }
  @media #{$tablet-widths} {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 32px;
    width: $tablet-width;
  }
  @media #{$tablet-widths} and #{$tablet-widths-max} {
    @include content-center;
  }
  @media #{$desktop-widths} {
    width: 432px;
    margin-bottom: 0px;
    padding-top: 18px;
  }
}
.form-field__container--fullname {
  @media #{$mobile-widths-only} {
    flex-direction: column;
    align-items: stretch;
  }
}
.form-field__container--fullname .form-field__label {
  padding-right: 17px;
}
.form-field__achievements {
  box-sizing: border-box;
  background-color: $gray-bg;
  legend {
    @include red-label;
  }
  label {
    @include gray-label;
  }
  @media #{$mobile-widths-only} {
    padding-top: 32px;
    padding-bottom: 6px;
    padding-left: 0px;
    padding-right: 0px;
    width: $mobile-width;
    @include content-center;
  }
  @media #{$tablet-widths} {
    background-color: $white-bg;
    order: 3;
    border: 2px solid $gray-border;
    border-radius: 3px;
    padding-top: 38px;
    padding-left: 56px;
    padding-bottom: 5px;
    margin-bottom: 51px;
    width: $tablet-width;
  }
  @media #{$tablet-widths} and #{$tablet-widths-max} {
    @include content-center;
  }
  @media #{$desktop-widths} {
    width: 100%;
    padding-right: 20px;
    padding-left: 55px;
  }
}
.form-field__container--achiev {
  @media #{$desktop-widths} {
    width: 260px;
  }
}
@media #{$desktop-widths} {
  .form-field__container--achiev-selfie {
    order: -6;
  }
  .form-field__container--achiev-chuck {
    order: -5;
  }
  .form-field__container--achiev-tower {
    order: -4;
  }
}
.form-field__legends--achiev {
  background-color: $gray-bg;
  text-align: center;
  @media #{$mobile-widths-only} {
    padding-top: 20px;
    width: $mobile-width;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
  @media #{$tablet-widths} {
    background-color: $white-bg;
    padding-left: 30px;
    padding-right: 30px;
  }
}
#selfie-field:checked ~ .form-field__label .form-field__pseudocheck--selfie,
#beach-field:checked ~ .form-field__label .form-field__pseudocheck--beach,
#chuck-field:checked ~ .form-field__label .form-field__pseudocheck--chuck,
#souvenir-field:checked ~ .form-field__label .form-field__pseudocheck--souvenir,
#tower-field:checked ~ .form-field__label .form-field__pseudocheck--tower,
#hotel-field:checked ~ .form-field__label .form-field__pseudocheck--hotel {
  &::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 17px;
    width: 21px;
    height: 2px;
    background-color: $red-text;
    transform: rotate(-45deg);
  }
  &::before {
    position: absolute;
    content: "";
    left: 5px;
    top: 21px;
    width: 10px;
    height: 2px;
    background-color: $red-text;
    transform: rotate(45deg);
  }
  &:active {
    &::after {
      position: absolute;
      content: "";
      left: 10px;
      top: 17px;
      width: 21px;
      height: 2px;
      background-color: transparent;
      transform: rotate(-45deg);
    }
    &::before {
      position: absolute;
      content: "";
      left: 5px;
      top: 21px;
      width: 10px;
      height: 2px;
      background-color: transparent;
      transform: rotate(45deg);
    }
  }
}
.form-field__label--achiev {
  display: flex;
  padding-left: 0px;
  margin-bottom: 37px;
}
.form-field__achiev-fieldset-fix {
  @media #{$desktop-widths} {
    display: flex;
    flex-direction: row;
    min-height: 170px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-between;
  }
}
.form-field__contacts {
  box-sizing: border-box;
  background-color: $white-bg;
  legend {
    @include red-label;
  }
  label {
    @include red-label;
  }
  @media #{$mobile-widths-only} {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 29px;
    padding-bottom: 34px;
    width: $mobile-width;
    @include content-center;
  }
  @media #{$tablet-widths} {
    border: 2px solid $gray-border;
    border-radius: 3px;
    padding-top: 31px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 0px;
    margin-bottom: 46px;
    margin-top: 40px;
    order: 2;
    width: $tablet-width;
  }
  @media #{$tablet-widths} and #{$tablet-widths-max} {
    @include content-center;
  }
  @media #{$desktop-widths} {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 0;
    margin-bottom: 32px;
  }
}
.form-field__container--contacts {
  @media #{$mobile-widths-only} {
    flex-direction: column;
    align-items: stretch;
  }
  @media #{$tablet-widths} {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 24px;
  }
  @media #{$desktop-widths} {
    width: 373px;
  }
}
.form-field__container--contacts .form-field__label {
  @media #{$tablet-widths} {
    order: 2;
  }
  @media #{$desktop-widths} {
    margin-left: 20px;
  }
}
.form-field__container--contacts .form-field__input--text {
  @media #{$tablet-widths} {
    margin-bottom: 0px;
  }
}
.form-field__legends--contacts {
  background-color: $gray-bg;
  text-align: center;
  @media #{$mobile-widths-only} {
    padding-top: 20px;
    width: $mobile-width;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -20px;
    margin-right: -20px;
  }
  @media #{$tablet-widths} {
    background-color: $white-bg;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.form-field__input-contacts-field {
  display: flex;
  @media #{$tablet-widths} {
    margin-bottom: 11px;
  }
}
.form_field__contacts-icon {
  width: 62px;
  height: 62px;
  background-color: $gray-border;
  @media #{$mobile-widths-only} {
    display: none;
  }
}

.form_field__contacts-icon--phone {
  @media #{$tablet-widths} {
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.form_field__contacts-icon--email {
  @media #{$tablet-widths} {
    background-image: url("../img/icon-mail.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.form-field__contacts-fieldset-fix {
  @media #{$desktop-widths} {
    display: flex;
    justify-content: space-between;
  }
}
.form-field__used-apps {
  box-sizing: border-box;
  background-color: $gray-bg;
  legend {
    @include red-label;
  }
  label {
    @include gray-label;
  }
  @media #{$mobile-widths-only} {
    width: $mobile-width;
    @include content-center;
    padding-top: 28px;
    padding-bottom: 6px;
  }
  @media #{$tablet-widths} {
    background-color: $white-bg;
    padding-top: 38px;
    padding-left: 55px;
    padding-bottom: 18px;
    margin-bottom: 10px;
    border: 2px solid $gray-border;
    border-radius: 3px;
    width: $tablet-width;
    order: 1;
  }
  @media #{$tablet-widths} and #{$tablet-widths-max} {
    @include content-center;
  }
  @media #{$desktop-widths} {
    width: 433px;
    margin-bottom: 0px;
  }
}
#pink-ios-field:checked ~ .form-field__label .form-field__pseudoradio--ios,
#pink-android-field:checked ~ .form-field__label .form-field__pseudoradio--android,
#pink-wp-field:checked ~ .form-field__label .form-field__pseudoradio--wp {
  &::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $red-text;
  }
  &:active {
    &::after {
      position: absolute;
      content: "";
      top: 10px;
      left: 10px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: transparent;
    }
  }
}
.form-field__legends--used-apps {
  background-color: $gray-bg;
  text-align: center;
  @media #{$mobile-widths-only} {
    padding-top: 19px;
    width: $mobile-width;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: -20px;
    margin-right: -20px;
  }
  @media #{$tablet-widths} {
    background-color: $white-bg;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media #{$desktop-widths} {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.form-field__label--used-apps {
  display: flex;
  padding-left: 0px;
  margin-bottom: 30px;
  @media #{$desktop-widths} {
    margin-left: 20px;
  }
}
.form-field__user-emotions {
  box-sizing: border-box;
  background-color: $white-bg;
  legend {
    @include red-label;
  }
  @media #{$mobile-widths-only} {
    padding-top: 13px;
    padding-bottom: 30px;
    margin-bottom: 18px;
    width: $mobile-width;
    @include content-center;
  }
  @media #{$tablet-widths} {
    order: 4;
    border: 2px solid $gray-border;
    border-radius: 3px;
    padding-top: 31px;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 44px;
    margin-bottom: 67px;
    width: $tablet-width;
  }
  @media #{$tablet-widths} #{$tablet-widths-max} {
    @include content-center;
  }
  @media #{$desktop-widths} {
    width: 100%;
    padding-left: 56px;
    padding-right: 56px;
  }
}
.form-field__legends--user-emotions {
  background-color: $white-bg;
  text-align: center;
  @media #{$mobile-widths-only} {
    width: $mobile-width;
    padding-top: 50px;
  }
  @media #{$tablet-widths} {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.form-field__container--user-emotions {
  @media #{$mobile-widths-only} {
    flex-direction: column;
    align-items: stretch;
  }
}
.form-field__input--textarea {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  padding-top: 13px;
  padding-left: 18px;
  padding-bottom: 19px;
  @media #{$desktop-widths} {
    height: 123px;
  }
}
.form-field__send-form-field {
  display: flex;
  @media #{$mobile-widths-only} {
    width: $mobile-width;
    flex-direction: column;
    align-items: center;
    @include content-center;
  }
  @media #{$tablet-widths} {
    order: 5;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 53px;
    width: $tablet-width;
  }
  @media #{$tablet-widths} and #{$tablet-widths-max} {
    @include content-center;
  }
  @media #{$desktop-widths} {
    width: 100%;
    margin-bottom: 1px;
  }
}
.form-field__send-form {
  @include green-btn;
  width: 280px;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 17px;
  &:focus {
    outline: none;
  }
  @media #{$mobile-widths-only} {
    margin-bottom: 35px;
  }
  @media #{$tablet-widths} {
    width: 300px;
  }
}
.form-field__send-form--disable {
  cursor: default;
  color: #ffffff;
  background-color: #e5e5e5;
  &:hover,
  &:active {
    color: #ffffff;
    background-color: #e5e5e5;
  }
}
.form-field__small-text {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  .form-field__small-red-text {
    color: $red-text;
  }
  @media #{$desktop-widths} {

  }
}
.form-field__legends--show {
  @media #{$mobile-widths-only} {
    display: none;
  }
}
.form-field__ur-history--show span {
  @media #{$mobile-widths-only} {
    display: none;
  }
}
