.information {
  background-color: $white-bg;
}
.information__answer-question {
  font-size: 24px;
  font-weight: 300;
}
.information__list {
  list-style: none;
  background-color: $gray-bg;
}
.information__item-title {
  font-size: 18px;
}
.information__item-description {
}
