.main-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: auto;
  width: 320px;
  min-height: 69px;
  @media ($tablet-widths) {
    width: 700px;
  }
  @media ($desktop-widths) {
    width: 1200px;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
  }
}
.main-nav__start {
  width: 100%;
  box-sizing: border-box;
  min-height: 69px;
  display: flex;
  justify-content: space-between;
  box-shadow: $black-shadow;
  @media ($tablet-widths) {
    min-height: 110px;
  }
  @media ($desktop-widths) {
    flex-basis: 150px;
  }
}
.main-nav--closed .main-nav__start {
  box-shadow: none;
  background-color: $menu-bg;
  @media ($desktop-widths) {
    background-color: transparent;
  }
}
.main-nav__logo {
  margin-left: 20px;
  @media ($desktop-widths) {
    margin-left: 0px;
  }
}
.main-nav__logo--mobile {
  margin-top: 22px;
  @media ($tablet-widths) {
    display: none;
  }
}
.main-nav__logo--tablet {
  display: none;
  @media ($tablet-widths) {
    margin-top: 27px;
    display: block;
    @media ($desktop-widths) {
      display: none;
    }
  }
}
.main-nav__logo--desktop {
  display: none;
  @media ($desktop-widths) {
    display: block;
    margin-top: 27px;
  }
}
.main-nav__open-close {
  background-image: url("../img/icon-menu-cross.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  color: transparent;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  margin-top: 22px;
  margin-right: 20px;
  @media ($tablet-widths) {
    margin-top: 44px;
    margin-right: 40px;
  }
  @media ($desktop-widths) {
    display: none;
  }
}
.main-nav--closed .main-nav__open-close {
  background-image: url("../img/icon-menu-burger.svg");
  width: 50px;
  height: 24px;
}
.main-nav__list {

  margin-top: 1px;
  margin-bottom: 0px;
  padding: 0px;
  list-style: none;
  background-color: #283645;
  width: 700px;
  @media ($tablet-widths) {
    position: absolute;
    top: 110px;
    left: 0px;
  }
  @media ($desktop-widths) {
    margin-top: 0px;
    display: flex;
    position: static;
    justify-content: space-between;
    width: 620px;
    background-color: transparent;
  }
}
.main-nav--closed .main-nav__list {
  display: none;
  @media ($desktop-widths) {
    display: flex;
  }
}
.main-nav__item {
  box-sizing: border-box;
  text-align: center;
  box-shadow: $black-shadow,
  $white-inset-shadow;
  margin-bottom: 1px;
  min-height: 63px;
  padding-top: 17px;
  @media ($desktop-widths) {
    box-shadow: none;
    padding-top: 45px;
  }
  a {
    @include white-link;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    @media ($desktop-widths) {
      text-transform: none;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
