.page-header {
  position: relative;
  z-index: 10;
  background-color: $menu-bg;
  width: $mobile-width;
  @include content-center;
  @media #{$tablet-widths} {
    width: $tablet-width;
  }
  @media #{$desktop-widths} {
    width: $desktop-width;
  }
}
