.page-footer {
  @include content-center;
  background-color: $white-bg;
  @media #{$mobile-widths-only} {
    width: $mobile-width;
  }
  @media #{$tablet-widths} {
    width: $tablet-width;
  }
  @media #{$desktop-widths} {
    width: $desktop-width;
  }
}
.page-footer--invisible {
  @media #{$mobile-widths-only} {
    display: none;
  }
}
.page-footer__inner {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  @include content-center;
  @include paddings;
  @media #{$mobile-widths-only} {
    padding-top: 40px;
    min-height: 244px;
    flex-direction: column;
    align-items: center;
  }
  @media #{$tablet-widths} {
    min-height: 127px;
  }
  @media #{$desktop-widths} {
    min-height: 197px;
  }
}
.page-footer__logo {
  background-repeat: no-repeat;
  width: 147px;
  height: 41px;
  @media #{$mobile-widths-only} {
    margin-bottom: 38px;
    background-image: url("../../img/logo-pink-blue-mobile.svg");
  }
  @media #{$tablet-widths} {
    margin-bottom: 16px;
    background-image: url("../../img/logo-pink-blue-mobile.svg");
  }
  @media #{$desktop-widths} {
    background-image: url("../../img/logo-pink-blue-desktop.svg");
  }
  &:hover {
    @media #{$mobile-widths-only} {
      background-image: url("../../img/logo-pink-blue-mobile--hover.svg");
    }
    @media #{$tablet-widths} {
      background-image: url("../../img/logo-pink-blue-mobile--hover.svg");
    }
    @media #{$desktop-widths} {
      background-image: url("../../img/logo-pink-blue-desktop--hover.svg");
    }
  }
  &:active {
    @media #{$mobile-widths-only} {
      background-image: url("../../img/logo-pink-blue-mobile--active.svg");
    }
    @media #{$tablet-widths} {
      background-image: url("../../img/logo-pink-blue-mobile--active.svg");
    }
    @media #{$desktop-widths} {
      background-image: url("../../img/logo-pink-blue-desktop--active.svg");
    }
  }
}
.page-footer__developer {
  width: 130px;
  height: 35px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  background-image: url("../../img/logo-htmlacademy.svg");
  background-position: 100% center;
  color: #283645;
  &:hover {
    background-image: url("../../img/logo-htmlacademy--hover.svg");
    color: #283645;
  }
  &:active {
    background-image: url("../../img/logo-htmlacademy--active.svg");
    color: #283645;
  }
  span {
    line-height: 18px;
    @media #{$desktop-widths} {
      font-size: 18px;
    }
  }
  @media #{$mobile-widths-only} {
    margin-top: 38px;
  }
  @media #{$tablet-widths} {
    margin-left: 20px;
  }
  @media #{$desktop-widths} {
    width: 153px;
    margin-left: -5px;
  }
}
